/* ------------ content ------------ */
.content{
  /* margin-top: 30px; */
  width:480px;
  height: 350px;
  max-height:350px;
  background-color: #FFF;
  overflow: auto;
}
.content::-webkit-scrollbar {
  display: none;
}
.content ul{
  padding:0;
  margin:0;
}


