/* ------------ content ------------ */
.content{
  /* margin-top: 30px; */
  width:480px;
  height: 350px;
  max-height:350px;
  background-color: #FFF;
  overflow: auto;
}
.content::-webkit-scrollbar {
  display: none;
}
.content ul{
  padding:0;
  margin:0;
}


.item{
  width:480px;
  height: 45px;
  min-height: 45px;
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: baseline;
}
.item i.co{
  position: absolute;
  font-size: 25px;
  padding-left:5px;
  left:15px;
  top:10px;
}
.item i.co:hover{
  cursor: pointer;
}
.fa-check-circle{
  color:#6eb200;
}
.item p.text{
  position: absolute;
  padding:0;
  margin-top:6px;
  font-size: 20px;
  left:50px;
  top:2px;
  background-color: #FFF;
  max-width:480px;
}
.lineThrough{
  text-decoration: line-through;
  color : #ccc;
}
.item i.de{
  position: absolute;
  font-size: 25px;
  right:15px;
  top:10px;
}
.item i.de:hover{
  color:#af0000;
  cursor: pointer;
}
.item i.ed{
  position: absolute;
  font-size: 25px;
  right: 40px;
  top: 10px;
}
.item i.ed:hover{
  color: #4a4adf;
  cursor: pointer;
}
