/* ------------ youtube.com/CodeExplained ------------ */
body{
  padding: 0;
  margin: 0;
  background-color: rgba(0,0,0,0.1);
  font-family: 'Titillium Web', sans-serif;
  box-sizing: border-box;
}

/* ------------ container ------------ */
.container-fluid{
  position: relative;
  background-color: #FFF;
  display: block;
  flex-wrap: wrap;
  padding:10px;
  width:480px;
  margin:0 auto;
}


/* ------------ content ------------ */





























